<% form_tag( administrator_sessions_path, :method => "post" ) do %>
	
	<% if flash[:notice] %>
    	<div id="errorExplanation" class="errorExplanation">
    		<ul>
    			<li><%= flash[:notice] %></li>
    		</ul>
    	</div>
    <% end %>
	
	<p><label for="administrator_username"><%= diamond %> Username</label><br/>
	<%= text_field_tag 'username' %></p>

	<p><label for="administrator_password"><%= diamond %> Password</label><br/>
	<%= password_field_tag 'password' %></p>
	
	<p><%= submit_button %></p>

<% end %>