<% form_for_comments @comment, :url => comment_previews_path do |f| %>
   <%= f.error_messages %>

   <%= f.text_field :subject %>
   <%= f.text_field :name %>
   <%= f.text_field :email %>
   <%= f.text_area :body, :size=>"20x10" %>

   <%= f.hidden_field :parent_id %>
   <%= f.hidden_field :content_id %>

  <%= f.submit %>	
      <div id="new_comment_spinner_<%= @comment.parent_id %>" style="display:none;">
      <%= image_tag("f/bar_spinner.gif") %>
      </div>
   
<% end %>