<% @title = @content.title %>

<% @main_category = @content.main_category.name %>

<h1><%= @content.title %></h1>
 
<h2><%= @content.description %></h2>

<%= spiro %>

<div id="article">
	<%= parse_cheatsheet_xml(@content.parsed_content) %>
</div>

<%= spiro %>

<%= render(:partial => "comments/comments", :object => @content ) %>
