<div id="breadcrumbs">
   <p><%= location_icon %> 
      <%= link_to "Home", "/" %> 
      
      <%= image_tag("f/bullets/arrows/solidarrow.png") %> 
      <%= link_to "Ruby on Rails", latest_path %> 
      
      <%= image_tag("f/bullets/arrows/solidarrow.png") %> 
      <%= link_to @content.main_category.name, category_path(@content.main_category.permalink) %> 
      
      <%= image_tag("f/bullets/arrows/solidarrow.png") %>
   </p>
</div>
				
<div id="left_column">
	
	<%= render :partial => "shared/category_list" %>
	
	<% unless @content.nil? %>
		<% @content.related_articles.each do |related| %>
			<p><%= spiro %></p>
			<div id="blurb">
				<h4><%= solid_arrow %> RELATED ARTICLE</h4>
				<h2><%= asterisk %> <%= related.title %></h2> 
				<p><%= related.description %> <%= solid_arrow %> <%= link_to "More", content_path(related.permalink) %> </p>
			</div>
		<% end %>
	<% end %>
				
</div>
			
<div id="right_column">
            
   <% @title = @content.title %>

   <% @main_category = @content.main_category.name %>

   <h1><%= @content.title %></h1>
   <h2><%= @content.description %></h2>

   <%= spiro %>

   <div id="article"><%= @content.parsed_content %></div>

   <%= spiro %>

   <div id="comments">

      <div id="comments_header"><p class="posted_in"> <%= asterisk %> COMMENTS </p></div>
      
      <%= render :partial => "comments/comment", :collection => @content.comments.roots %>
      
      <div id="new_comment_" %>
         <p><%= diamond %> <%= link_to "Add new comment", new_content_comment_path(@content), :id => "new_comment_link" %></p>
      </div>

   </div>

</div>
<% content_for :javascript do %>

   function watchForms(originalRequest) {
      $$('.comment_form').invoke('observe', 'submit', function(e)
         {
         e.stop();
         new Ajax.Request(e.element().action, {parameters: e.element().serialize(), onComplete: watchForms});
         }
      );
   }
 <% end %>
 
 <% content_for :dom_loaded do %>  
 
   $('new_comment_link').observe('click', function(e) 
      {
         e.stop();
         new Ajax.Request('/ruby_on_rails/contents/<%= @content.id %>/comments/new', {method:'get', onComplete: watchForms});
      }
   );
   
   $$('.child_comment_link').invoke('observe', 'click', function(e)
      {
         e.stop();
         new Ajax.Request('/ruby_on_rails/contents/<%= @content.id %>/comments/' + e.element().id + '/child_comments/new', {method:'get', onComplete: watchForms});
      }
   );

<% end %>