<% content_for :breadcrumbs do %> 
   
   <div id="breadcrumbs">
      <p><%= location_icon %> 
         <%= link_to "Home", "/" %> 
   
         <%= solid_arrow %> 
         <%= link_to "Ruby on Rails", contents_path %> 
   
          <%= solid_arrow %> 
         <%= link_to @content.main_category.name, category_path(@content.main_category.permalink) %> 
   
          <%= solid_arrow %>
      </p>
   </div>

<% end %>				
 
<div id="left_column">

   <%= render :partial => "layouts/category_list" %>
	
	<% unless @content.nil? %>
		<% @content.related_articles.each do |related| %>
			<p><%= spiro %></p>
			<div id="blurb">
				<h4><%= solid_arrow %> RELATED ARTICLE</h4>
				<h2><%= asterisk %> <%= related.title %></h2> 
				<p><%= related.description %> <%= solid_arrow %> <%= link_to "More", content_path(related.permalink) %> </p>
			</div>
		<% end %>
	<% end %>
				
</div>
			
<div id="right_column">

   <h1><%= @content.title %></h1>
   <h2><%= @content.description %></h2>

   <%= spiro %>

   <div id="article"><%= @content.parsed_content %></div>

   <%= spiro %>

   <div id="comments">

      <div id="comments_header"><p class="posted_in"> <%= asterisk %> COMMENTS </p></div>
      
      <%= render :partial => "comments/comment", :collection => @content.comments.roots %>
      
      <div id="form_comment_" style="display:none;">
         <%= render :partial => "comments/comment_form", :object => Comment.new(:content_id => @content.id) %>
      </div>

         <p><%= diamond %> <%= link_to "Add new comment", new_content_comment_path(@content), :id => "new_comment_link" %></p>
      
   </div>

</div>

<% content_for :javascript do %>

  function previewCommentForm(e) {
   e.preventDefault();    
   var id = e.element().id.split('_').last();
   var markdown = $('comment_body_' + id).value;
   new Ajax.Updater('new_comment_container_' + id, e.element().action, { method: 'post', parameters: e.element().serialize() });
   alert('new_comment_' + id);
    $('new_comment_' + id).observe('submit', previewCommentForm);
  }
  
  function sendCommentForm(e) {
    e.preventDefault();
    new Ajax.Request(e.element().action, {parameters: e.element().serialize()});
  }
  
  function toggleReplyCommentForm(e) {
    e.preventDefault();
    $('new_comment_container_' + e.element().id).toggle();
  }
  
  function toggleNewCommentForm(e) {
    e.preventDefault();
    $('form_comment_').toggle();
  }
  
<% end %>

<% content_for :dom_loaded do %>  
     $('new_comment_link').observe('click', toggleNewCommentForm);
     $$('.child_comment_link').invoke('observe', 'click', toggleReplyCommentForm);
     $$('.new_comment').invoke('observe', 'submit', previewCommentForm);
<% end %>