<div id="breadcrumbs"><p><%= location_icon %> <a href="/">Home</a> <%= image_tag("f/bullets/arrows/solidarrow.png") %> <%= link_to "Ruby on Rails", latest_path %> <%= image_tag("f/bullets/arrows/solidarrow.png") %> <b><%=  @main_category %></b></p></div>
				
<div id="left_column">
	
	<%= category_list %>
	
	<%= render :partial => "/layouts/category_list" %>
	
	<% unless @content.nil? %>
		<% @content.related_articles.each do |related| %>
			<p><%= spiro %></p>
			<div id="blurb">
				<h4><%= solid_arrow %> RELATED ARTICLE</h4>
				<h2><%= asterisk %> <%= related.title %></h2> 
				<p><%= related.description %> <%= solid_arrow %> <%= link_to "More", content_path(related.permalink) %> </p>
			</div>
		<% end %>
	<% end %>			
				
</div>
			
<div id="right_column">
	
			
<% @title = @content.title %>

<% @main_category = @content.main_category.name %>

<h1><%= @content.title %></h1>

<h2><%= @content.description %></h2>

<%= spiro %>

<div id="article"><%= @content.parsed_content %></div>

<%= spiro %>

<%= render(:partial => "comments/comments", :object => @content ) %>

<% if @content.is_a?(Cheatsheet) %>
<% content_for :thumbnail do %>

	<div class="cheatsheet_thumbnail">
		
		<%= pdf_thumbnail(@content) %>
		
		<p><%= link_to image_tag("f/small_icons/pdf_sheet.png"), formatted_cheatsheet_path(:format => :pdf) %> 
		   <%= link_to "PDF version", formatted_cheatsheet_path(:format => :pdf) %></p>
	</div>
<% end %>
<% end %>
</div>