<div id="breadcrumbs">
   <p><%= location_icon %> 
      <%= link_to "Hom", "/" %> <%= image_tag("f/bullets/arrows/solidarrow.png") %> 
      <%= link_to "Ruby on Rails", latest_path %> <%= image_tag("f/bullets/arrows/solidarrow.png") %> 
      <%= link_to @content.main_category.name, category_path(@content.main_category.permalink) %> <%= image_tag("f/bullets/arrows/solidarrow.png") %>
   </p>
</div>
				
<div id="left_column">
	
	<%= render :partial => "shared/category_list" %>
	
	<% unless @content.nil? %>
		<% @content.related_articles.each do |related| %>
			<p><%= spiro %></p>
			<div id="blurb">
				<h4><%= solid_arrow %> RELATED ARTICLE</h4>
				<h2><%= asterisk %> <%= related.title %></h2> 
				<p><%= related.description %> <%= solid_arrow %> <%= link_to "More", content_path(related.permalink) %> </p>
			</div>
		<% end %>
	<% end %>
				
</div>
			
<div id="right_column">
            
   <% @title = @content.title %>

   <% @main_category = @content.main_category.name %>

   <h1><%= @content.title %></h1>
   <h2><%= @content.description %></h2>

   <%= spiro %>

   <div id="article"><%= @content.parsed_content %></div>

   <%= spiro %>

   <div id="comments">

      <div id="comments_header"><p class="posted_in"> <%= asterisk %> COMMENTS </p></div>
      
      <%= render :partial => "comments/comment", :collection => @content.comments.roots %>
      
      <div id="add_comment">
         <p><%= diamond %> <%= link_to_remote "Add new comment", :url => new_content_comment_path(@content), :method => :get %></p>
      </div>

   </div>

</div>