<!-- COMMENT -->

<% if comment.parent_id? %>
   <div class="single_comment" id="comment_<%= comment.id %>">
<% else %>
	<div class="root_comment" id="comment_<%= comment.id %>">
<% end %>
	
      <div class="comments_left">
         <p>
            <span class="posted_ago"><%= time_ago_in_words(comment.created_at).upcase %> AGO</span><br/> 
            <span class="email"><%= comment.email %></span>
         </p>
      </div>
	
      <div class="comments_right">
         <h6><%= comment.subject %></h6>
         <p><%= comment.body %></p>
      </div>
      
      <% div_for comment, :new, :class=> "reply_comment" do %>
         <%= diamond %> <%= link_to_remote("Reply to this comment", :url => new_content_comment_child_comment_path(comment.content, comment), :method => :get)%>
      <% end %>
   
   <!-- CHILD COMMENTS -->
   
   <%= render(:partial => "comments/comment", :collection => comment.children) unless comment.children.empty? %> 

   </div>