<!-- COMMENT -->

   <% div_for comment, :class => "margin_top left_indent border_top_black_dashed" do %>
	
      <div class="comments_left">
         <p>
            <span class="posted_ago"><%= time_ago_in_words(comment.created_at).upcase %> AGO</span><br/> 
            <span class="email"><%= comment.email %></span>
         </p>
      </div>
	
      <div class="comments_right">
         <h6><%= comment.subject %></h6>
         <p><%= comment.body %></p>
      </div>
      
      <% div_for comment, :reply do %>
         <p class="center">
            <%= diamond %> <%= link_to_remote("Reply to this comment", :url => new_content_comment_child_comment_path(comment.content, comment), :method => :get)%>
         </p>
      <% end %>
   
   <!-- CHILD COMMENTS -->
   
   <%= render(:partial => "comments/comment", :collection => comment.children) unless comment.children.empty? %> 

<% end %>