<!-- COMMENT -->

<div class="<%= comment.parent_id? ? "single" : "root" %>_comment" id="comment_<%= comment.id %>">

   <div class="comments_left">
      <p>
         <span class="posted_ago"><%= time_ago_in_words(comment.created_at).upcase %> AGO</span><br/> 
         <span class="email"><%= comment.email %></span>
      </p>
   </div>

   <div class="comments_right">
      <h5><%= comment.subject %></h5>
      <p><%= comment.body_to_markdown %></p>
   </div>

   <div class="reply_to_comment_link">
      <%= diamond %> <%= link_to "Reply to this comment", new_content_comment_child_comment_path(comment.content, comment), :id => comment.id, :class => "child_comment_link" %>
   </div>
   
   <%= render :partial => "comments/comment_form", :object => Comment.new(:parent_id => comment.id, :content_id => comment.content.id) %>

<!-- CHILD COMMENTS -->

<%= render(:partial => "comments/comment", :collection => comment.children) unless comment.children.empty? %> 

</div>