<% form_for @comment, :url => content_comments_path do |form| %>
    
  <%= error_messages_for :comment, :header_tag => "h2" %>
  
  <%= form.text_field :subject %>
  <%= form.text_field :name %>
  <%= form.text_field :email %>
  <%= form.text_area :body, :size=>"20x10" %>

  <%= form.hidden_field :parent_id %>
  
  <div id="submit_button_<%=params[:comment_id] %>">
    <%= submit_button %>	
  </div>

<% end %>
