<div id="contact_inside">
	
	<div id="close_window"><%= link_to image_tag("f/small_icons/close_window.png"), "#", :class => "contact_link" %> </div>

	<span class="posted_in"><%= square %> CONTACT US</span>
	
	<%= error_messages_for :message %>
	
	<% form_for @message do |form| %>
	
		<table>
			<tr>
				<td><%= form.label :name%></td>
				<td><%= form.text_field :name %></td>
			</tr>
			<tr>
				<td><%= form.label :email %></td>
				<td><%= form.text_field :email %></td>
			</tr>
			<tr>
				<td><%= form.label :email_confirmation %></td>
				<td><%= form.text_field :email_confirmation %></td>
			</tr>
			<tr>
				<td><%= form.label :message %></td>
				<td><%= form.text_area :message, :size => "60x10" %></td>
			</tr>
			<tr>
				<td><%= form.label :answer, @message.question %></td>
				<td><%= form.text_field :answer %>
				<% @message.answer_confirmation.each do |answer| %>
					<%= form.text_field :answer_confirmation %>
				<% end %>
				</td>
			</tr>
		</table>

	<%= submit_tag %>
	
<% end %>

</div>