<div id="welcome">
	<div id="first_half">
			<div class="mini_column">

			<%= category_list%>
		</div>
		
		<div class="mini_column">
			
			
		<span class="posted_in"><%= solid_arrow%> LATEST WORK </span>
			<table id="logo_table">
				<% @companies.each do |footer_logo| %>
				<tr>
			<td>
	<%= link_to image_tag(formatted_grey_binary_path(footer_logo,:png), :class => "footer_logo", :id => "footerlogo_#{footer_logo.id}"), portfolio_path(footer_logo) %>
	<div style="display:none;"><%= image_tag(formatted_binary_path(footer_logo,:png)) %></div>
</td>
</tr>
<tr><td><%= diamond %></td></tr>
<% end %>
</table></div>
		</div>
	
	<div id="second_half">
	
			<% @articles.in_groups_of(4) do |columns| %>
			<% columns.each do |column| %>
			<% unless column.nil? %>
			<% if columns.first == column %>
				<div class="mini_column_clear">
			<% else %>
				<div class="mini_column">
			<% end %>
				<span class="posted_ago"><%= time_ago_in_words(column.date).upcase %> AGO</span>
				
				<% if @main_article.is_a?(Article) %>
					<h2><%= link_to(column.title, content_path(column.permalink)) %></h2>
				<% else %>
					<h2><%= link_to(column.title, cheatsheet_path(column.permalink)) %></h2>
				<% end %>
				
				<span class="posted_in">
				 	<%= solid_arrow %> <%= link_to(column.main_category.name.upcase, category_path(column.main_category.permalink)) %>
				</span>
				
				<p><%= column.description %></p>
			</div>
			<% end %>
			<% end %>		
			<% end %>			

</div> 
