<%= dizzy_form.error_messages %>

<%= dizzy_form.text_field :title %>

<%= dizzy_form.text_field :permalink %>

<%= dizzy_form.text_area :description %>

<%= dizzy_form.text_area :content %>

<%= observe_field :cheatsheet_content, :url => preview_cheatsheets_path,
      :update => :article, :frequency => 2,
      :with => "content" %>
	  
<div id="article" style="height:350px; overflow:auto;width:100%;"></div>

<%= dizzy_form.datetime_select :date %>

<%= dizzy_form.collection_select(:version_id, Version.all(:order => :version_number), :id, :version_number) %> <i>or add new version</i>
<%= dizzy_form.text_field :new_version %>

<%= dizzy_form.collection_select("category_ids", Category.all(:order => :name), :id, :name, {}, :multiple=> :true, :name=>'cheatsheet[category_ids][]') %></p>

<%= dizzy_form.collection_select("related_article_ids", Content.all(:order => :title), :id, :title, {}, :multiple=> :true, :name=>'cheatsheet[related_article_ids][]') %></p>
	
<%= dizzy_form.file_field :pdf %>

<%= submit_button %>
