<%= javascript_include_tag :defaults %>

<h1><%= bigarrow %> New cheatsheet</h1>

<%= error_messages_for :cheatsheet %>

<% form_for(:cheatsheet, :url => cheatsheets_path, :html => {:multipart => true, :method => :post} ) do |form| %>
	
	<%= render :partial => "form", :object => form %>
  	<%= submit_button %>

<% end %>
  