<h1><%= asterisk %> <%= @company.name || "New company" %></h1>

<% form_for @company, :html =>{ :multipart => true } do |f| %>
	
	<%= error_messages_for :company %>
	
	<%= f.label :name %>		
 	<%= f.text_field :name %>
 	
 	<%= f.label :visible %>
 	<%= f.check_box :visible %>
 		
 	<%= f.label :description %>
  <%= f.text_field :description %>
  	
    <%= render :partial => "portfolio_items/edit", :collection => @company.portfolio_items.map { |item| item if item.new_record? }.compact %>
 	  <%= render :partial => "item", :collection => @company.portfolio_items.map { |item| item unless item.new_record? }.compact %>
  	
 	<div id="new_items"></div>
    
  	<%= render :partial => "portfolio_items/new_link" %>
    
  	<%= submit_button %>
    
<% end %>