<h1><%= asterisk %> <%= @company.name || "New company" %></h1>

<% form_for @company, :html =>{ :multipart => true } do |f| %>
	
	<%= error_messages_for :company %>
	
	<%= f.label :name %>		
 	<%= f.text_field :name %>
 	
 	<%= f.label :visible %>
 	<%= f.check_box :visible %>
 		
 	<%= f.label :description %>
  <%= f.text_field :description %>
  
  <%= render :partial => "item", :collection => @company.portfolio_items %>
  
  <div id="new_items"></div>
  
  <p><%= link_to_remote 'Add Another Item', :url => new_portfolio_item_path, :method => :get %></p>

  <%= submit_button %>
  
<% end %>