<% content_for :breadcrumbs do -%>
<div id="breadcrumbs">
	<p>	<%= location_icon %>
	<a href="/">Home</a> <%= solid_arrow %> <%= link_to "Ruby on Rails", latest_path %> <%= solid_arrow %> <span class="destination"><%= @category.name %></span></p>
</div>
<% end %> 
<div id="left_column"><%= render :partial => "layouts/category_list" %></div>

<div id="right_column">
	<table id="article_links">
		<%= render :partial => "contents/article_link", :collection => @category.contents %>
	</table>
</div>