<ul id="category_list" class="categories">

<% Category.all.each do |category| %>
	<% if category.permalink == "cheatsheets" %>
		<li id="category_<%= category.id %>"><%= link_to("Cheatsheets", cheatsheets_path) %></li>
	<% else %>
		<li id="category_<%= category.id %>"><%= link_to(category.name, category_path(category.permalink)) %>
		<% if administrator? %>
			 | <%= link_to_remote("delete", { :url => category_path(category.id), :method => :delete}) %>
		<% end %>
		</li>
	<% end %>
<% end %>
</ul>

<% if administrator? %>
	
	<%= render :partial => "categories/form", :object => Category.new %>

<% end %>