<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Ruby on Rails - <%= @title %> - Dizzy</title>
	
	<%= core_front_end_stylesheets %>
	<%= stylesheet_link_tag "cheatsheet", 			:media => "all" %>
	<%= stylesheet_link_tag "syntax_highlighting", 	:media => "all" %>
	<%= stylesheet_link_tag "comments", 	:media => "all" %>
	
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "footer_rollover" %>
	
</head>
<body>	

	<div id="page_container">
		
		<%= render :partial => "/layouts/header" %>
		<%= render :partial => "/layouts/navigation" %>
		
		<div id="contact_form" style="display:none;"></div>
		
		<div id="content_container">
			<div id="left_column">
				
				<p><%= location_icon %> <a href="/">Home</a> <%= image_tag("f/bullets/arrows/solidarrow.png") %> <%= link_to "Ruby on Rails", latest_path %> <%= image_tag("f/bullets/arrows/solidarrow.png") %> <b><%=  @main_category %></b></p>
				
				<%= yield %>
			</div>
			
			<div id="right_column">
				
				<%= yield :thumbnail %>
				
				<%= category_list %>
				
				<%= render :partial => "/layouts/category_list" %>
				<% unless @content.nil? %>
					<% @content.related_articles.each do |related| %>
						<p><%= spiro %></p>
						<div id="blurb">
							<h4><%= solid_arrow %> RELATED ARTICLE</h4>
							<h2><%= asterisk %> <%= related.title %></h2> 
							<p><%= related.description %> <%= solid_arrow %> <%= link_to "More", content_path(related.permalink) %> </p>
						</div>
					<% end %>
				<% end %>
			</div>
			
		</div>
		
		<%= render :partial => "/layouts/footer" %>
	
	</div>
</body>
</html>