<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Ruby on Rails - <%= @title %> - Dizzy</title>
	
	<%= core_front_end_stylesheets %>
	<%= stylesheet_link_tag "syntax_highlighting", 	:media => "all" %>
	
	<%= javascript_include_tag :defaults %>
	
	 <!--[if IE]>
    <style type="text/css">
    	code { font: normal 100%/18px monospace;}
	</style>
    <![endif]-->
	
	<script type="text/javascript">
	
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

		try {
			var pageTracker = _gat._getTracker("UA-900217-1");
			pageTracker._trackPageview();
		} catch(err) {}
		
	</script>
	
	<script type="text/javascript" src="http://api.recaptcha.net/js/recaptcha_ajax.js"></script>
	
	<script type="text/javascript">
	
   function watchCommentForm(originalRequest) {
	  $('new_message').observe('submit', function(e)
		 {
		 e.stop();
		 new Ajax.Request(e.element().action, {parameters: e.element().serialize(), onComplete: watchCommentForm});
		 }
	  );
   }
	<%= yield :javascript %>
	
	document.observe("dom:loaded", function() {   
	
	$$('.contact_link').invoke('observe', 'click', function(e)
	{
		e.stop();
		$('contact_form').show();
		watchCommentForm();
	}
	);
	
	<%= yield :dom_loaded %>
	});

	</script>

</head>

<body>	

	<div id="page_container">
		
		<%= render :partial => "/layouts/header" %>
		<%= render :partial => "/layouts/navigation" %>
		
		<div id="content_container">
			<%= yield %>
		</div>
		
		<%= render :partial => "/layouts/footer" %>
	
	</div>
</body>
</html>