<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title><%= @title %> - Dizzy</title>
	<%= core_front_end_stylesheets %>	
	<%= javascript_include_tag :defaults %>

</head>

<body>	

	<div id="page_container">
		<%= render :partial => "/layouts/header" %>
		<%= render :partial => "/layouts/navigation" %>
		
		<div id="content_container">
			
			<div id="hierarchy">
				<p>	<%= location_icon %>
				<a href="/">Home</a> <%= solid_arrow %> <b>Portfolio</b></p>
			</div>
			
			<%= yield %>
			
			
		<div id="footer" class="clearfix">
			<div id="footer_man"><%=image_tag "f/backgrounds/footer_man.png" %></div>
			<%=image_tag("f/backgrounds/spiral_circle.png") %>
		</div>
	
			</div>
	</div>
</body>
</html>