<% content_for :content do %>
	
	<div id="welcome">
		<div id="first_half">

			<div id="left_column"><%= render :partial => "layouts/category_list" %></div>
	
			<div id="centre_column">			
				<span class="posted_in"><%= solid_arrow%> LATEST WORK </span>
				<table id="logo_table">
					<% @companies.each do |footer_logo| %>
						<tr>
							<td>
								<%= link_to image_tag(grey_binary_path(footer_logo,:png), :class => "footer_logo", :id => "footerlogo_#{footer_logo.id}"), portfolio_path(footer_logo) %>
								<div style="display:none;"><%= image_tag(binary_path(footer_logo,:png)) %></div>
							</td>
						</tr>
						<tr><td><%= diamond %></td></tr>
					<% end %>
				</table>
			</div>
		</div>

		<div id="second_half">
			<%= yield %>
		</div>
	</div> 

<% end %>

<%= render :file => "layouts/application" %>
